@use '../../styles/colors';

.hotelOffersHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.hotelOffersHeaderSubtitle {
    margin-bottom: 1.2rem;

    p {
        font-weight: bold;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

.hotelOffersHeaderSubtitleDescription {
    font-style: italic;
    color: colors.$dark-grey;
}

.hotelOffersHeaderSortInput {

    label {
        font-weight: bold;
    }

    select {
        border: 2px solid colors.$light-grey;
        border-radius: 2px;
        margin-left: 0.5rem;
        padding: 0.2rem 0.5rem;
    }
}