.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
  
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.logoImage {
    width: 10rem;
    height: auto;
    object-fit: contain;
}